
body {background-color: #F6E7D8;

}

h1 {
    color:#F68989
}

h2 {
    color:#C65D7B  ;
    font-size: 30px;
}


h1 {
    font-size:60px;
}
 
h3 {
    color:#874356;
    font-size: 20px;
}
    img {
        list-style-position: inside;
    }

p {
     font-size: 20px;
}

